.jumbotron {
  background-color: #3B22E8;
  color: #E8FEFF;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.extra {
  padding: 20px 50px 20px 50px;
}
.btn-1 {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.card-button {
  flex: 1 33%;
  padding: 2px 5px 2px 5px;
  margin-top: 20px;
}
.btn-reserva {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.breadcrumb {
  background-color: #EAEBFC;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 0px;
}
.margen {
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  height: 200px;
  padding: 10px 10px 0px 10px;
  background-color: #140672;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #E8FEFF;
}
.footer-icon {
  padding-right: 10px;
}
.carousel {
  margin-top: 30px;
  margin-bottom: 0px;
}
