$fondo-jumbotron: #3B22E8;
$fondo-footer: #140672;
$letra: #E8FEFF;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $fondo-jumbotron;
    color:$letra;
    height: 150px;
    @include margenes(50px,0px )
}

.extra{
    padding: 20px 50px 20px 50px;
}

.btn-1{
    width: 50%; 
    margin-left: 25%;
    margin-right: 25%;
    }

.card-button{
    flex: 1 33%;
    padding: 2px 5px 2px 5px;
    margin-top: 20px;
    }

    .btn-reserva{
        width: 50%;
        @include margenes(5px,0px );
        margin-left: 10px;
    }

.breadcrumb{
    background-color: #EAEBFC;
    padding: 10px 10px 10px 10px;
    @include margenes(20px,0px );
} 

.form-group{
    @include margenes(10px,0px );
}

.margen{
    @include margenes(50px,0px );
}
footer{
    height: 200px;
    padding: 10px 10px 0px 10px;
    background-color: $fondo-footer;
    @include margenes(0px,0px );
    color: $letra;
}

.footer-icon{
padding-right: 10px;
}

.carousel{
    @include margenes(30px,0px )
}